# Mac OS X ignores
.DS_Store

# Vim
*.sw[op]

# Xcode/ObjC ignores, copied from https://github.com/github/gitignore/blob/master/Objective-C.gitignore
/build/
*.bcsymbolmap
*.version
Carthage/Checkouts
Carthage/Build/watchOS/
Carthage/Build/Mac/
Carthage/Build/tvOS/

Carthage Cache
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
*.dSYM.zip
*.gcno
*.gcda
*.gcov
*.profdata
*.xccoverage

# Bundler
vendor/bundle
.bundle

# Fastlane
fastlane/report.xml
fastlane/Error*.png
fastlane/metadata/trade_representative_contact_information
fastlane/metadata/review_information
fastlane/Preview.html

*.mobileprovision

# Ignore baselines, which we'll eventually maintain in CI to prevent
# false negatives due to dev machine discrepancies
xcbaselines/

# Provisioning Profiles
*.mobileprovision

# IntelliJ config files
.idea/

# CocoaPods
#
# We're committing the Pods folder in order to facilitate setup
# and have repeatable builds (each commit is a snapshot of our dependencies)
#
# Pods/

# www
node_modules/

# Git
*.orig
*.cer
.env.default

Cartfile.hash

fastlane/snapshot_derived_data/
WikipediaUITests/Snapshots/
