# See: https://git-scm.com/docs/git-shortlog#_mapping_authors
#
Brooke Vibber <bvibber@pobox.com>
Brooke Vibber <bvibber@pobox.com> <bvibber@wikimedia.org>
Brooke Vibber <bvibber@pobox.com> <brion@wikimedia.org>
Brooke Vibber <bvibber@pobox.com> <brion@pobox.com>
