
# Release Libraries
github "CocoaLumberjack/CocoaLumberjack"
github "mxcl/PromiseKit"
github "wikimedia/SWStepSlider"
github "swisspol/GCDWebServer"

#Test Libraries
github "facebook/ios-snapshot-test-case"
github "Quick/Nimble"
github "Quick/Quick"
