.cm-mw-link,
.cm-mw-link-pagename,
.cm-mw-link-tosection,
.cm-mw-link-bracket,
.cm-mw-link-delimiter,
.cm-mw-extlink,
.cm-mw-free-extlink,
.cm-mw-extlink-protocol,
.cm-mw-free-extlink-protocol,
.cm-mw-extlink-bracket,
.cm-mw-doubleUnderscore,
.cm-mw-signature,
.cm-mw-hr {
  color: inherit;
}

.cm-mw-mnemonic,
.cm-mw-exttag-name,
.cm-mw-exttag-bracket,
.cm-mw-exttag-attribute,
.cm-mw-htmltag-name,
.cm-mw-htmltag-bracket,
.cm-mw-htmltag-attribute {
  color: inherit;
}

.cm-mw-parserfunction-name,
.cm-mw-parserfunction-bracket,
.cm-mw-parserfunction-delimiter { 
  color: inherit;
}

.cm-mw-table-bracket,
.cm-mw-table-delimiter,
.cm-mw-table-definition { 
  color: inherit;
}

.cm-mw-template-name,
.cm-mw-template-argument-name,
.cm-mw-template-delimiter,
.cm-mw-template-bracket  {
  color: inherit;
}

.cm-mw-list,
.cm-mw-doubleUnderscore, 
.cm-mw-signature, 
.cm-mw-hr,
.cm-mw-indenting,
.cm-mw-apostrophes-bold, 
.cm-mw-apostrophes-italic,
.cm-mw-section-header,
.cm-mw-templatevariable,
.cm-mw-templatevariable-name,
.cm-mw-templatevariable-bracket,
.cm-mw-templatevariable-delimiter,
.cm-mw-matching {
  color: inherit;
}

.cm-mw-comment,
.cm-mw-skipformatting {
  color: inherit;
}
