body {
  margin: 0;
}

.CodeMirror {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: -apple-system, sans-serif;
  line-height: 1.75em;
}

.cm-mw-table-caption { 
  font-weight: normal; 
}

.cm-mw-template2-ground,
.cm-mw-template3-ground,
.cm-mw-template-ext-ground,
.cm-mw-template-ext2-ground,
.cm-mw-template-ext3-ground,
.cm-mw-template-link-ground,
.cm-mw-template-ext-link-ground,
.cm-mw-template-ext2-link-ground,
.cm-mw-template-ext3-link-ground,
.cm-mw-template2-ext-ground,
.cm-mw-template2-ext2-ground,
.cm-mw-template2-ext3-ground,
.cm-mw-template2-link-ground,
.cm-mw-template2-ext-link-ground,
.cm-mw-template2-ext2-link-ground,
.cm-mw-template2-ext3-link-ground,
.cm-mw-template3-ext-ground,
.cm-mw-template3-ext2-ground,
.cm-mw-template3-ext3-ground,
.cm-mw-template3-link-ground,
.cm-mw-template3-ext-link-ground,
.cm-mw-template3-ext2-link-ground,
.cm-mw-template3-ext3-link-ground,
.cm-mw-ext-ground,
.cm-mw-ext2-ground,
.cm-mw-ext3-ground,
.cm-mw-ext-link-ground,
.cm-mw-ext2-link-ground,
.cm-mw-ext3-link-ground,
.cm-mw-link-ground {
  background-image: none;
  background-color: none;
}

.cm-searching-focus {
  background-color: #fc3 !important;
}

.cm-mw-skipformatting {
    background-color: unset !important;
}

.cm-searching-replaced {
  color: #000 !important;
  background-color: #d0e4fc !important;
  border-radius: 2px;
}