
.footer_container {
    background-color: #eaecf0;
}

.footer_container_heading {
    padding-top: 35px;
    font-size: 0.95em;
    line-height: 1.6;
}

#footer_container_readmore_pages::-webkit-scrollbar {
  display: none;
}

#footer_container_menu_heading {
  margin-bottom: 10px;
}

#footer_container_menu_items {
  background-color: #c8ccd1;
  display: table;
  width: 100%;
  border-collapse: collapse;
}
