.mw-language-button {
	appearance: none;
	-webkit-appearance: none;
	
	display: table;
	
	color: #aaa;
	background: #222;
	font-size: 24px;
	line-height: 24px;
	padding: 12px;
}

.mw-language-items {
	display: table-row;
}

.mw-language-icon,
.mw-language-count,
.mw-language-label {
	display: table-cell;
	vertical-align: middle;
	height: 24px;
}

.mw-language-icon {
	text-align: right;
	color: white;
	padding-right: 12px;
	border-right: solid 1px #aaa;
	white-space: nowrap;

	font-family: "AvenirNextCondensed-Medium";
}

.mw-language-count {
	text-align: center;
	padding-left: 12px;
}

.mw-language-label {
	text-align: left;
	padding-left: 12px;
	font-size: 10px;
}
