
#app_footer_menu {
  border-color: green;
  border-width: 1px;
  border-style: solid;
  margin: 10px;
}

#app_footer_readmore {
  border-color: blue;
  border-width: 1px;
  border-style: solid;
  margin: 10px;
}

#app_footer_legal {
  border-color: orange;
  border-width: 1px;
  border-style: solid;
  margin: 10px;
}

.footer_readmore_page {
  border-style: dashed;
  border-width: 1px;
  border-color: #cccccc;
  margin: 20px;
}

.footer_readmore_page_title {
  color: red;
  display: block;
}

.footer_readmore_page_thumbnail {
  display: block;  
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.footer_readmore_page_description {
  color: green;
  display: block;

  text-overflow: ellipsis;
  height: 1.5em;
  line-height: 1.5em;
  overflow: hidden;
  white-space: nowrap;
}

.footer_readmore_page_description::first-letter {
    text-transform: uppercase;
}

.app_footer_title {
  display: block;
  color: brown;
}

.footer_readmore_page_actions {
  border-style: dashed;
  border-width: 1px;
  border-color: gray;  
}

a.footer_readmore_page_action_save {
  display: block;
  color: green;
  margin-top: 10px;
}
