<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:*.wikipedia.org</string>
		<string>applinks:de.wikipedia.org</string>
		<string>applinks:en.wikipedia.org</string>
		<string>applinks:es.wikipedia.org</string>
		<string>applinks:fr.wikipedia.org</string>
		<string>applinks:ja.wikipedia.org</string>
		<string>applinks:ru.wikipedia.org</string>
		<string>applinks:de.m.wikipedia.org</string>
		<string>applinks:en.m.wikipedia.org</string>
		<string>applinks:es.m.wikipedia.org</string>
		<string>applinks:fr.m.wikipedia.org</string>
		<string>applinks:ja.m.wikipedia.org</string>
		<string>applinks:ru.m.wikipedia.org</string>
		<string>webcredentials:*.wikipedia.org</string>
		<string>webcredentials:de.wikipedia.org</string>
		<string>webcredentials:en.wikipedia.org</string>
		<string>webcredentials:es.wikipedia.org</string>
		<string>webcredentials:fr.wikipedia.org</string>
		<string>webcredentials:ja.wikipedia.org</string>
		<string>webcredentials:ru.wikipedia.org</string>
		<string>webcredentials:de.m.wikipedia.org</string>
		<string>webcredentials:en.m.wikipedia.org</string>
		<string>webcredentials:es.m.wikipedia.org</string>
		<string>webcredentials:fr.m.wikipedia.org</string>
		<string>webcredentials:ja.m.wikipedia.org</string>
		<string>webcredentials:ru.m.wikipedia.org</string>
		<string>activitycontinuation:*.wikipedia.org</string>
		<string>activitycontinuation:de.wikipedia.org</string>
		<string>activitycontinuation:en.wikipedia.org</string>
		<string>activitycontinuation:es.wikipedia.org</string>
		<string>activitycontinuation:fr.wikipedia.org</string>
		<string>activitycontinuation:ja.wikipedia.org</string>
		<string>activitycontinuation:ru.wikipedia.org</string>
		<string>activitycontinuation:de.m.wikipedia.org</string>
		<string>activitycontinuation:en.m.wikipedia.org</string>
		<string>activitycontinuation:es.m.wikipedia.org</string>
		<string>activitycontinuation:fr.m.wikipedia.org</string>
		<string>activitycontinuation:ja.m.wikipedia.org</string>
		<string>activitycontinuation:ru.m.wikipedia.org</string>
		</array>
</dict>
</plist>
