<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:*.wikipedia.org</string>
		<string>webcredentials:*.wikipedia.org</string>
		<string>activitycontinuation:*.wikipedia.org</string>
		<string>applinks:wikipedia.org</string>
		<string>activitycontinuation:wikipedia.org</string>
		<string>webcredentials:wikipedia.org</string>
		<string>applinks:en.wikipedia.beta.wmflabs.org</string>
		<string>applinks:en.m.wikipedia.beta.wmflabs.org</string>
	</array>
	<key>com.apple.developer.in-app-payments</key>
	<array>
		<string>merchant.com.adyen.wikimedia.test</string>
		<string>merchant.com.adyen.wikimedia</string>
	</array>
	<key>com.apple.developer.usernotifications.time-sensitive</key>
	<true/>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.org.wikimedia.wikipedia</string>
		<string>group.org.wikimedia.wikipedia.alpha</string>
		<string>group.org.wikimedia.wikipedia.beta</string>
	</array>
</dict>
</plist>
