body {
    font-size: 100%;
    margin: 1.45em;
    font-family: Helvetica;
    color: #444444;
    border-style: none;
    -webkit-text-size-adjust: none;
    direction: ltr;
}

div body {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.heading {
    font-weight: bold;
    color: #000000;
}

.title {
    color: #888888;
    margin-bottom: 0.5em;
}

A {
    color: #4F76eB;
}

#version {
    font-size: 1.5em;
}

#wikipedia {
    font-size: 2.0em;
}

.subtitle {
    margin-top: 0.5em;
}

.feedback {
    text-align: center;
}

.title, .feedback {
    margin-top: 1.5em;
}

.footer-table {
    margin-top: 1.0em;
    width: 100%;
}

.footer {
    width: 100%;
}

.wmf-logo {
    padding-right: 0.5em;
    width: 56px;
}
