.mw-language-button {
  appearance: none;
  -webkit-appearance: none;
  display: table;
  color: #aaa;
  background: #222;
  font-size: 24px;
  line-height: 24px;
  padding: 12px;
}
.mw-language-items {
  display: table-row;
}
.mw-language-icon,
.mw-language-count,
.mw-language-label {
  display: table-cell;
  vertical-align: middle;
  height: 24px;
}
.mw-language-icon {
  color: white;
  white-space: nowrap;
  font-family: "AvenirNextCondensed-Medium";
}
.mw-language-button[dir=ltr] .mw-language-icon {
  text-align: right;
  padding-right: 12px;
  border-right: solid 1px #aaa;
}
.mw-language-button[dir=rtl] .mw-language-icon {
  text-align: left;
  border-left: solid 1px #aaa;
  padding-left: 12px;
}
.mw-language-count {
  text-align: center;
}
.mw-language-button[dir=ltr] .mw-language-count {
  padding-left: 12px;
}
.mw-language-button[dir=rtl] .mw-language-count {
  padding-right: 12px;
}
.mw-language-label {
  font-size: 10px;
}
.mw-language-button[dir=ltr] .mw-language-label {
  text-align: left;
  padding-left: 12px;
}
.mw-language-button[dir=rtl] .mw-language-label {
  text-align: right;
  padding-right: 12px;
}

.mw-last-modified {
  margin-top: 1em;
  color: #27aa65;
}
